@charset "UTF-8";
/* Box sizing rules */
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../fonts/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif-Bold';
  src: url("../fonts/NotoSerif-Bold.eot");
  src: url("../fonts/NotoSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif-Bold.svg#NotoSerif-Bold") format("svg"), url("../fonts/NotoSerif-Bold.ttf") format("truetype"), url("../fonts/NotoSerif-Bold.woff") format("woff"), url("../fonts/NotoSerif-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

body {
  font-family: 'SourceSansPro-Regular', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
label {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-size: 14px;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

a:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

a, a:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-close:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.radiobox {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
  padding: 5px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  max-width: 260px;
  background: #fff;
}

.radiobox p {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.radiobox input[type="radio"] {
  display: none;
  padding: 0;
}

.radiobox [type="radio"]:checked + label {
  background: #E97907;
  color: #fff;
}

.radiobox input[type="radio"] + label {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 15px;
  color: #000;
  line-height: 15px;
  position: relative;
  margin: 0 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  text-align: center;
  border-radius: 4px;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chekbox {
  width: 100%;
  margin: 0 0 30px 0;
  position: relative;
  padding: 0;
  z-index: 5;
}

.chekbox p {
  margin: 0 10px 0 0;
}

.chekbox p a {
  display: block;
  color: #000;
  text-decoration: none;
}

.chekbox p a:hover {
  color: #000;
  text-decoration: underline;
}

.chekbox input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.chekbox input[type="checkbox"] + label {
  padding: 7px 0px 3px 35px;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  position: relative;
  margin: 0;
}

.chekbox input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  z-index: 5;
  border: 1px solid #DDE1E1;
  display: block !important;
}

.chekbox input[type="checkbox"]:checked + label:before {
  border: 1px solid #E97907;
}

.chekbox input[type="checkbox"]:checked + label {
  color: #E97907;
}

.chekbox input[type="checkbox"]:checked + label:after {
  z-index: 10;
  content: "";
  position: absolute;
  top: 12px;
  left: 6px;
  width: 9px;
  height: 7px;
  border-top: 2px solid #E97907;
  border-right: 2px solid #E97907;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.ui {
  display: block;
}

.ui-widget.ui-widget-content {
  border: 0;
  z-index: 55 !important;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
  background: #fff;
  border: 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  background: #EEF3F5;
  border: 0;
}

.ui-datepicker .ui-datepicker-prev span {
  position: absolute;
  top: 16px;
  right: 0;
  height: 8px;
  border: 0;
  width: 8px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  left: 18px;
  background: none;
}

.ui-datepicker .ui-datepicker-next span {
  position: absolute;
  top: 16px;
  right: 0;
  height: 8px;
  border: 0;
  width: 8px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  left: 16px;
  background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 0;
  background: #fff;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  height: 30px;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover, .ui-button:hover, html .ui-button.ui-state-disabled:hover:hover, html .ui-button.ui-state-disabled:active:hover {
  color: #000;
  background: #f5f5f5;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #f5f5f5;
  color: #000;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #8DB304;
  color: #fff;
}

.form-block {
  background: #F4F8F9;
  padding: 30px 0;
}

.form-block h1 {
  font-size: 42px;
  line-height: 47px;
  color: #000000;
  margin: 0 0 30px 0;
  font-family: 'SourceSansPro-Bold';
  padding: 0;
  text-align: left;
}

.form-block h2 {
  font-size: 28px;
  line-height: 31px;
  color: #000000;
  margin: 30px 0;
  font-family: 'SourceSansPro-Bold';
  text-align: left;
}

.form-block h2 {
  font-size: 28px;
  line-height: 31px;
  color: #000000;
  margin: 30px 0;
  font-family: 'SourceSansPro-Bold';
  text-align: left;
}

.form-block h3 {
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin: 30px 0;
  font-family: 'SourceSansPro-Bold';
  text-align: left;
}

.form-block h4 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 30px 0;
  font-family: 'SourceSansPro-Bold';
  text-align: left;
}

.form-block h5 {
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin: 30px 0;
  font-family: 'SourceSansPro-Bold';
  text-align: left;
}

.form-block h6 {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 30px 0;
  font-family: 'SourceSansPro-Bold';
  text-align: left;
}

.form-block p {
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  margin: 0 0 20px 0;
  font-family: 'SourceSansPro-Regular', sans-serif;
}

.form-block .form-control {
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-family: 'SourceSansPro-Regular', sans-serif;
  color: #929292;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: #000;
}

.form-block .form-control:hover {
  border-color: #8DB304;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-control:focus {
  border-color: #8DB304;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-control#datepicker {
  background: #fff url(../images/date.svg) 15px 13px no-repeat;
  padding: 15px 15px 15px 50px;
}

.form-block .form-group__data .jq-selectbox__trigger {
  top: 25px;
  width: 34px;
  height: 42px;
}

.form-block .form-group__data:focus .jq-selectbox__trigger {
  background: red;
}

.form-block .form-group label {
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  margin: 0 0 8px 0;
  display: block;
  font-weight: normal;
  font-family: 'SourceSansPro-Regular', sans-serif;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group ::-webkit-input-placeholder {
  color: #C5C5C5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group ::-moz-placeholder {
  color: #C5C5C5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group :-moz-placeholder {
  color: #C5C5C5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group :-ms-input-placeholder {
  color: #C5C5C5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group:hover ::-webkit-input-placeholder {
  color: #828282;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group:hover ::-moz-placeholder {
  color: #828282;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group:hover :-moz-placeholder {
  color: #828282;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group:hover :-ms-input-placeholder {
  color: #828282;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group:hover label {
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group.error label {
  color: #FF003D;
}

.form-block .form-group.error ::-webkit-input-placeholder {
  color: #FF003D;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group.error ::-moz-placeholder {
  color: #FF003D;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group.error :-moz-placeholder {
  color: #FF003D;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group.error :-ms-input-placeholder {
  color: #FF003D;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group.error .form-control {
  border-color: #FF003D;
  background: #FFF5F5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: #000;
}

.form-block .form-group.error .form-control:focus {
  background: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group.error:hover .form-control {
  border-color: #FF003D;
  background: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .form-group {
  margin: 0 0 15px 0;
  position: relative;
}

.form-block .jq-selectbox__select {
  z-index: 15;
  position: relative;
  height: 46px;
  padding: 15px 40px 15px  15px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'SourceSansPro-Regular';
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  text-shadow: none;
  width: auto;
  border: 1px solid #E6E6E6 !important;
}

.form-block .jq-selectbox__select:hover {
  border-color: #8DB304 !important;
}

.form-block .jq-selectbox__select:hover .jq-selectbox__select-text {
  color: #828282;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .jq-selectbox__select-text {
  color: #C5C5C5;
  text-align: left;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .jq-selectbox__trigger {
  display: block;
  border: 0;
}

.form-block .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  height: 8px;
  border: 0;
  width: 8px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .jq-selectbox {
  text-align: left;
  display: block;
}

.form-block .jq-selectbox.opened .jq-selectbox__select {
  border-color: #8DB304 !important;
}

.form-block .jq-selectbox.opened .jq-selectbox__select-text {
  color: #C5C5C5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .jq-selectbox.opened .jq-selectbox__trigger-arrow {
  top: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .jq-selectbox.changed .jq-selectbox__select {
  border-color: E6E6E6 !important;
}

.form-block .jq-selectbox.changed .jq-selectbox__select-text {
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .jq-selectbox ul {
  text-align: left;
}

.form-block .jq-selectbox li {
  min-height: 12px;
  margin: 0;
  border-radius: 4px;
  padding: 7px;
  color: #000;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
}

.form-block .jq-selectbox li:hover {
  background-color: #EEF3F5;
  color: #000;
}

.form-block .jq-selectbox li:active {
  background-color: #E0E6E8;
  color: #000;
}

.form-block .jq-selectbox li.sel {
  background-color: #8DB304;
  color: #fff;
}

.form-block .field__wrapper {
  width: 100%;
  position: relative;
  margin: 0;
}

.form-block .field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.form-block .field__file-wrapper {
  margin: 10px 0 25px 0;
  display: block;
}

.form-block .button-red {
  width: 100%;
  height: 196px;
  background: #fff;
  display: block;
  border-radius: 6px;
  border: 2px dotted #8DB304;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  padding: 12px;
  cursor: pointer;
  text-decoration: none;
}

.form-block .button-red img {
  margin: 25px auto 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: block;
  max-width: 46px;
  min-width: 46px;
}

.form-block .button-red span.text {
  font-size: 16px;
  line-height: 17px;
  color: #000;
  margin: 0 0 10px 0;
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  font-family: 'SourceSansPro-Bold';
}

.form-block .button-red .border-indent {
  padding: 12px;
  background: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border: 0;
}

.form-block .button-red span.note {
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  margin: 0 0 10px;
  font-family: 'SourceSansPro-Regular', sans-serif;
}

.form-block .button-red:hover .border-indent {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background: #F4F8E7;
}

.form-block .button-red:hover span.text {
  color: #8DB304;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .field__wrapper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-block .field__wrapper__text p {
  color: #828282;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  font-family: 'SourceSansPro-Regular', sans-serif;
}

.form-block #myFiles {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 34px;
  z-index: 3;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block #myFiles:after {
  content: 'Файлы успешно загружены';
  position: absolute;
  bottom: 2px;
  left: 15px;
  right: 15px;
  font-size: 16px;
  line-height: 17px;
  color: #000;
  font-family: 'SourceSansPro-Bold';
  left: 10px;
  right: 10px;
  text-align: center;
}

.form-block #myFiles.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block #myFiles p {
  margin: 0 5px;
  width: calc(25% - 10px);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 115px;
  background: #fff url(../images/icon.svg) 15px 15px no-repeat;
  padding: 70px 15px 15px;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-family: 'SourceSansPro-Regular', sans-serif;
  position: relative;
  cursor: pointer;
}

.form-block #myFiles p:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  background: url(../images/close-black.svg) 0 0 no-repeat;
  opacity: 0.3;
  z-index: 10;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block #myFiles p:hover:after {
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .radiobox {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: block;
  border-radius: 0;
  max-width: 100%;
  background: transparent;
}

.form-block .radiobox p {
  margin: 0 0 2px 0;
}

.form-block .radiobox input[type="radio"] + label {
  cursor: pointer;
  padding: 10px 12px 10px 42px;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 16px;
  position: relative;
  text-align: left;
  margin: 0;
  display: block;
  border-radius: 6px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .radiobox input[type="radio"] + label:hover {
  background: #EEF3F5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .radiobox input[type="radio"] + label:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background: #fff;
}

.form-block .radiobox [type="radio"]:checked + label {
  background: transparent;
  color: #000;
}

.form-block .radiobox [type="radio"]:checked + label:before {
  border-color: #8DB304;
}

.form-block .radiobox [type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 17px;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  background: #8DB304;
  z-index: 5;
}

.form-block .radiobox [type="radio"]:disabled + label {
  color: #C5C5C5;
}

.form-block .radiobox [type="radio"]:disabled + label:hover {
  background: transparent;
}

.form-block .chekbox {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: block;
  border-radius: 0;
  max-width: 100%;
  background: transparent;
}

.form-block .chekbox p {
  margin: 0 0 2px 0;
}

.form-block .chekbox input[type="checkbox"] + label {
  cursor: pointer;
  padding: 10px 12px 10px 42px;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 16px;
  position: relative;
  text-align: left;
  margin: 0;
  display: block;
  border-radius: 6px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .chekbox input[type="checkbox"] + label:hover {
  background: #EEF3F5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .chekbox input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background: #fff;
}

.form-block .chekbox [type="checkbox"]:checked + label {
  background: transparent;
  color: #000;
}

.form-block .chekbox [type="checkbox"]:checked + label:before {
  border-color: #8DB304;
}

.form-block .chekbox [type="checkbox"]:checked + label:after {
  z-index: 10;
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  width: 9px;
  height: 6px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.form-block .chekbox [type="checkbox"]:disabled + label {
  color: #C5C5C5;
}

.form-block .chekbox [type="checkbox"]:disabled + label:hover {
  background: transparent;
}

.form-block .form-group__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 0;
  padding: 4px 10px;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.form-block .form-group__block:hover {
  background: #EEF3F5;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.form-block .form-group__block .chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block .form-group__block .chekbox p {
  margin: 0 10px 0 0;
}

.form-block .form-group__block_button {
  margin: 0 10px 0 0;
  width: 10px;
  min-width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block .form-group__block_button .button {
  width: 10px;
  height: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-block .form-group__block_button .button svg {
  max-width: 10px;
}

.form-block .form-group__block_button .button svg path {
  fill: #828282;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.form-block .form-group__block_button .button:hover svg path {
  fill: #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.form-block .nav-tabs .nav-link {
  color: #000;
  text-decoration: none;
  background: #EEF3F5;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  border: 0;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .nav-tabs {
  border-bottom: 0;
}

.form-block .nav-tabs .nav-link:hover {
  color: #000;
  position: relative;
  background-color: #E0E6E8;
  z-index: 5;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .nav-tabs .nav-link.active {
  color: #000;
  position: relative;
  background-color: #fff;
  z-index: 5;
}

.form-block .tab-content {
  background: #fff;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  z-index: 6;
}

.form-block .tab-content p {
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  margin: 0 0 20px 0;
}

.form-block .tab-content p:last-child {
  margin: 0;
}

.form-block .nav-tabs .nav-link:disabled {
  background: #EEF3F5;
  color: #828282;
  cursor: default;
}

.form-block .button {
  padding: 15px 30px;
  display: inline-block;
  border-radius: 8px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  font-size: 14px;
  line-height: 14px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.form-block .button-main {
  color: #fff;
  background: #8DB304;
}

.form-block .button-main:hover {
  background: #8DB304;
  color: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.form-block .button-main:active {
  background: #719100;
  color: #fff;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.form-block .button-main:disabled {
  background: #EEF3F5 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
  color: #C5C5C5;
}

.form-block .button-light {
  background: #F6F7F9;
  color: #000000;
  border: 1px solid #D0DADB;
}

.form-block .button-light:hover {
  background: #EEF3F5;
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.form-block .button-light:active {
  background: #E0E6E8;
  color: #000;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.form-block .button-light:disabled {
  background: #EEF3F5 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
  color: #C5C5C5;
}

.form-block .color-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background: #fff;
}

.form-block .color-block .color {
  border: 1px solid #E6E6E6;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 6px;
}

.form-block .color-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block .color-block span.text {
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  margin: 0 0 0 10px;
}

.form-block .color-block .bth-color {
  max-width: 16px;
  min-width: 16px;
  height: 20px;
}

.form-block .color-block .bth-color img {
  width: 100%;
  height: auto;
}

.form-block .color-block:hover {
  border-color: #A2C81B;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .color-block:active {
  border-color: #A2C81B;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.form-block .color-block:active span.text {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: #000;
}

.form-block__block {
  max-width: 850px;
}

.form-block__block h4 {
  padding: 0 0 15px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #EEF3F5;
}

.form-block__block .tab-content {
  margin: 0 0 30px 0;
}

.form-block__block_item {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px 0;
}

.form-block__block_item h2 {
  padding: 0 0 15px 0;
  margin: 0 0 30px 0;
  font-size: 18px;
  line-height: 20px;
  border-bottom: 1px solid #EEF3F5;
}

.form-block__block_item .item-block {
  margin: 0 0 25px 0;
}

.form-block__block_item .item-block:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .form-block .nav-tabs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form-block .jq-selectbox__trigger-arrow {
    right: 25px;
    border-color: #000;
  }
  .form-block .jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top-color: #000;
  }
}

@media screen and (max-width: 575px) {
  .form-block .nav-tabs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }
  .form-block .nav-tabs li.nav-item {
    white-space: nowrap;
  }
}
/*# sourceMappingURL=ui.css.map */